In [3]:
import pandas as pd
df = pd.read_csv("/content/MELBOURNE_HOUSE_PRICES_LESS.csv", header=0 )
print(df)

                 Suburb           Address  Rooms Type      Price Method  \
0            Abbotsford     49 Lithgow St      3    h  1490000.0      S
1            Abbotsford     59A Turner St      3    h  1220000.0      S
2            Abbotsford     119B Yarra St      3    h  1420000.0      S
3            Aberfeldie        68 Vida St      3    h  1515000.0      S
4          Airport West  92 Clydesdale Rd      2    h   670000.0      S
...                 ...               ...    ...  ...        ...    ...
63018     Roxburgh Park         3 Carr Pl      3    h   566000.0      S
63019     Roxburgh Park       9 Parker Ct      3    h   500000.0      S
63020     Roxburgh Park    5 Parkinson Wy      3    h   545000.0      S
63021        Thomastown    3/1 Travers St      3    u        NaN     PI
63022  Williams Landing       1 Diadem Wy      4    h        NaN     SP

        SellerG        Date  Postcode             Regionname  Propertycount  \
0        Jellis   1/04/2017      3067  Northern Metropolitan           4019
1      Marshall   1/04/2017      3067  Northern Metropolitan           4019
2        Nelson   1/04/2017      3067  Northern Metropolitan           4019
3         Barry   1/04/2017      3040   Western Metropolitan           1543
4        Nelson   1/04/2017      3042   Western Metropolitan           3464
...         ...         ...       ...                    ...            ...
63018     Raine  31/03/2018      3064  Northern Metropolitan           5833
63019     Raine  31/03/2018      3064  Northern Metropolitan           5833
63020     Raine  31/03/2018      3064  Northern Metropolitan           5833
63021     Barry  31/03/2018      3074  Northern Metropolitan           7955
63022    Aussie  31/03/2018      3027   Western Metropolitan           1999

       Distance                 CouncilArea
0           3.0          Yarra City Council
1           3.0          Yarra City Council
2           3.0          Yarra City Council
3           7.5  Moonee Valley City Council
4          10.4  Moonee Valley City Council
...         ...                         ...
63018      20.6           Hume City Council
63019      20.6           Hume City Council
63020      20.6           Hume City Council
63021      15.3     Whittlesea City Council
63022      17.6        Wyndham City Council

[63023 rows x 13 columns]

In [4]:

print(df.head())

         Suburb           Address  Rooms Type      Price Method   SellerG  \
0    Abbotsford     49 Lithgow St      3    h  1490000.0      S    Jellis
1    Abbotsford     59A Turner St      3    h  1220000.0      S  Marshall
2    Abbotsford     119B Yarra St      3    h  1420000.0      S    Nelson
3    Aberfeldie        68 Vida St      3    h  1515000.0      S     Barry
4  Airport West  92 Clydesdale Rd      2    h   670000.0      S    Nelson

        Date  Postcode             Regionname  Propertycount  Distance  \
0  1/04/2017      3067  Northern Metropolitan           4019       3.0
1  1/04/2017      3067  Northern Metropolitan           4019       3.0
2  1/04/2017      3067  Northern Metropolitan           4019       3.0
3  1/04/2017      3040   Western Metropolitan           1543       7.5
4  1/04/2017      3042   Western Metropolitan           3464      10.4

                  CouncilArea
0          Yarra City Council
1          Yarra City Council
2          Yarra City Council
3  Moonee Valley City Council
4  Moonee Valley City Council

In [7]:
df.shape

(48433, 13)

In [8]:
#num of features
df.shape[1]

13

In [9]:
#preprocessing
df.isnull()
# Count missing values per column
null_counts = df.isnull().sum()
print(null_counts)
print(f"num of all missing values in dataset: {df.isnull().sum().sum()}")

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Postcode         0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
dtype: int64
num of all missing values in dataset: 0

In [5]:
df.dropna(axis=0,inplace=True)
print(df)

              Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford     49 Lithgow St      3    h  1490000.0      S
1         Abbotsford     59A Turner St      3    h  1220000.0      S
2         Abbotsford     119B Yarra St      3    h  1420000.0      S
3         Aberfeldie        68 Vida St      3    h  1515000.0      S
4       Airport West  92 Clydesdale Rd      2    h   670000.0      S
...              ...               ...    ...  ...        ...    ...
63016      Frankston    4/34 Petrie St      2    u   347700.0     SP
63017        Preston     229 Murray Rd      3    h   808000.0      S
63018  Roxburgh Park         3 Carr Pl      3    h   566000.0      S
63019  Roxburgh Park       9 Parker Ct      3    h   500000.0      S
63020  Roxburgh Park    5 Parkinson Wy      3    h   545000.0      S

        SellerG        Date  Postcode                  Regionname  \
0        Jellis   1/04/2017      3067       Northern Metropolitan
1      Marshall   1/04/2017      3067       Northern Metropolitan
2        Nelson   1/04/2017      3067       Northern Metropolitan
3         Barry   1/04/2017      3040        Western Metropolitan
4        Nelson   1/04/2017      3042        Western Metropolitan
...         ...         ...       ...                         ...
63016    Aquire  31/03/2018      3199  South-Eastern Metropolitan
63017        RW  31/03/2018      3072       Northern Metropolitan
63018     Raine  31/03/2018      3064       Northern Metropolitan
63019     Raine  31/03/2018      3064       Northern Metropolitan
63020     Raine  31/03/2018      3064       Northern Metropolitan

       Propertycount  Distance                 CouncilArea
0               4019       3.0          Yarra City Council
1               4019       3.0          Yarra City Council
2               4019       3.0          Yarra City Council
3               1543       7.5  Moonee Valley City Council
4               3464      10.4  Moonee Valley City Council
...              ...       ...                         ...
63016          17055      38.0      Frankston City Council
63017          14577       8.4        Darebin City Council
63018           5833      20.6           Hume City Council
63019           5833      20.6           Hume City Council
63020           5833      20.6           Hume City Council

[48433 rows x 13 columns]

In [6]:
print(df.describe())

              Rooms         Price      Postcode  Propertycount      Distance
count  48433.000000  4.843300e+04  48433.000000   48433.000000  48433.000000
mean       3.071666  9.978982e+05   3123.210332    7566.399913     12.702761
std        0.944708  5.934989e+05    125.534940    4457.405884      7.550030
min        1.000000  8.500000e+04   3000.000000      39.000000      0.000000
25%        2.000000  6.200000e+05   3051.000000    4280.000000      7.000000
50%        3.000000  8.300000e+05   3103.000000    6567.000000     11.700000
75%        4.000000  1.220000e+06   3163.000000   10412.000000     16.700000
max       31.000000  1.120000e+07   3980.000000   21650.000000     55.800000